@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

.logo {
    display: flexbox;
}

.logo h6 {
    font-family: Ubuntu;
    font-size: 40px;
    color:  #FFF4BD;
    font-weight: 400;
 
    position: absolute; 
	top: 30px;
    left: 110px;
    // text-shadow: 1px 1px 0.5px #FAD02C;
    padding: 10px;
    margin: 0px;
    // box-shadow: 0 0 40px rgba(0,0,0,0.1);
}

.logo h5 {
    font-family: Ubuntu;
    font-size: 30px;
    color:  #FAD02C;
    font-weight: 400;
   position: absolute; 
	top: 60px;
    left: 122px;
    margin-top: 20px;
    // box-shadow: 0 0 20px rgba(0,0,0,0.1);
    // text-shadow: 1px 1px 0.5px  #FAD02C;
   

}

.button {
width: 20%;
color: #d3d3d3;
background: none;
height: 50px;
font-family: Ubuntu;
border-radius: 12px;
border: 2px solid #d3d3d3;

}

.button:hover {
width: 20%;
background: none;
height: 50px;
font-family: Ubuntu;
border-radius: 12px;
border: 2px solid  #FAD02C;
text-shadow: 1px 1px 0.5px  #FAD02C;
   

}

.btn-in {
  
    
    position: relative;
    bottom: -350px;
    left: 110px;

  
   
}

.banner {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 250px 0;
    background-image: url('https://res.cloudinary.com/chocalho/image/upload/v1608382011/DSC_9573_q4u1tr.jpg');
    height: 100vh;
}

.container-landing {
    
    height: 360px;
   
    
}

// .page-container{
//     background-image: url('https://res.cloudinary.com/chocalho/image/upload/v1608326690/DSC_2301_ryxs8i.jpg');
//     background-size: cover;
//     max-width:100% !important;
//     box-shadow: 1px 1px 1px #000055;
// }


.page-container-global {
    //  background-image: url('https://res.cloudinary.com/chocalho/image/upload/e_art:incognito/v1608401990/photo-1527606078995-42486f991014_hwmnhn.jpg');
     background-color: #1B1817;
     display: grid;
     min-height: 100vh;
     grid-template-rows: auto 1fr auto;
}