@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

.logo {
    display: flexbox;
    font-family: Ubuntu;
    color:  #FFF4BD;
    font-weight: 400;
    h6 {
       font-size: 40px;
   }
    h5 {
       font-size: 30px;
       color:#FAD02C;
       margin-top: -15px;
   }
}

.button {
width: 20%;
color: #d3d3d3;
background: none;
height: 50px;
font-family: Ubuntu;
border-radius: 12px;
border: 2px solid #d3d3d3;

}

.button:hover {
width: 20%;
background: none;
height: 50px;
font-family: Ubuntu;
border-radius: 12px;
border: 2px solid  #FAD02C;
text-shadow: 1px 1px 0.5px  #FAD02C;


}

.btn-in {


    position: relative;
    bottom: -350px;
    left: 110px;



}

.banner {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    background-image: url('https://res.cloudinary.com/chocalho/image/upload/v1610627666/DSC_9573p_s1qpku.jpg');
    height: 100vh;
}

// @media only screen and (max-width: 768px) {
//     /* For mobile phones: */
//     [class*="col-"] {
//       width: 100%;
//     }
//   }

.container-landing {

    height: 360px;


}

.banner-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

// .page-container{
//     background-image: url('https://res.cloudinary.com/chocalho/image/upload/v1608326690/DSC_2301_ryxs8i.jpg');
//     background-size: cover;
//     max-width:100% !important;
//     box-shadow: 1px 1px 1px #000055;
// }


.page-container-global {
    //  background-image: url('https://res.cloudinary.com/chocalho/image/upload/e_art:incognito/v1608401990/photo-1527606078995-42486f991014_hwmnhn.jpg');
     background-color: #1B1817;
     display: grid;
     min-height: 100vh;
     grid-template-rows: auto 1fr auto;
}

@media only screen and (max-width: 768px) {
     /* For mobile phones: */ 
    .banner {
        width: 100%;
  }
}

@media only screen and (orientation: portrait) {
    .banner {
       background-size: cover;
       background-image: url('https://res.cloudinary.com/chocalho/image/upload/v1610812146/DSC_9573ppp_fmxbmh.jpg'); 
    }
}

@media only screen and (max-width: 500px) {
    .button-home {
        float: left;
        margin-top: 1vh;
    }
    .btn {
        display: inline;
    }
}

// iphone 6/7/8 plus - 414 width 716 height 

@media only screen and (max-width: 415px) {
    .about-content {
        background-repeat: no-repeat;
        background-size: auto;
       background-image: url('https://res.cloudinary.com/chocalho/image/upload/c_scale,h_820,w_385/v1610829571/out_mo1_copy_tdosmu.png'); 
    }
}


// iphone 6/7/8 - 375 width 667 height / 345 820

@media only screen and (max-width: 380px) {
    .about-content {
        background-repeat: no-repeat;
        background-size: auto;
       background-image: url('https://res.cloudinary.com/chocalho/image/upload/c_scale,h_820,w_345/v1610829571/out_mo1_copy_tdosmu.png'); 
    }
}


// iphone 5 se - 375 width 667 height / 295 820

// @media only screen and (min-width: 310px) {
//     .about-content {
//         background-repeat: no-repeat;
//         background-size: auto;
//        background-image: url('https://res.cloudinary.com/chocalho/image/upload/c_scale,h_820,w_285/v1610829571/out_mo1_copy_tdosmu.png'); 
//     }
// }


// Sansung Galaxy s5 e Moto G4 se - 375 width 667 height / 330 820

@media only screen and (max-width: 370px) {
    .about-content {
        background-repeat: no-repeat;
        background-size: auto;
       background-image: url('https://res.cloudinary.com/chocalho/image/upload/c_scale,h_820,w_330/v1610829571/out_mo1_copy_tdosmu.png'); 
    }
}

// iphone 5 se 320 width / 290  820

@media only screen and (max-width: 340px) {
    .about-content {
        background-repeat: no-repeat;
        background-size: auto;
       background-image: url('https://res.cloudinary.com/chocalho/image/upload/c_scale,h_820,w_290/v1610829571/out_mo1_copy_tdosmu.png'); 
    }
}