@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

.logo h6 {
    font-family: Ubuntu;
    font-size: 30px;
    color:  #FFF4BD;
  
}

.button {
width: 20%;
color:  #FFF4BD;
background: none;
height: 50px;
font-family: Ubuntu;
border-radius: 12px;
border: 2px solid #d3d3d3;

}

.button:hover {
width: 20%;

background: none;
height: 50px;
font-family: Ubuntu;
border-radius: 12px;
border: 2px solid #FAD02C;
 
}

.btn-in {
  
    text-align: center;
    position: relative;
    margin-top: 30px;
   
}

.banner {
    background-size: cover;
    padding: 250px 0;
    text-align: center;
    background-image: url('https://res.cloudinary.com/chocalho/image/upload/v1608326690/DSC_2301_ryxs8i.jpg');
    max-width:100% !important

    
}

.container-landing {
    
    height: 500px;
}
