

  
  
<div class="content-footer d-flex flex-column">
  <div class="footer-row">
    <div class="col-md-12 center">
      <ul class="social-icons mb-md list-unstyled d-flex justify-content-around" >
         <li class="mt-3 ml-2"> gcampss@gmail.com</li>

        <li class="mt-3 ml-2"><a href="https://www.instagram.com/campista/" target="_blank" title="Instagram"> <%= icon('fab', 'instagram') %></a>  
        </li>
        <li class="mt-3 ml-2"><a href="https://www.linkedin.com/in/gabrielcampista/" target="_blank" title="Linkedin"> <%= icon('fab', 'linkedin') %></a>   
        </li>
        <li class="mt-3 ml-2"><a href="https://github.com/gcampss" target="_blank" title="GitHub"> <%= icon('fab', 'github') %></a>   
        </ul>
        </div>
    </div>
   <!--<div class="bot-container d-flex justify-content-center">
    <p>© Gabriel Campista<%= Date.today.year %></p>
  </div> -->
</div>