<div class="banner">
  <div class="banner-content" >
    <div class="logos">
        <div class="logo">
          <h6>Gabriel Campista</h6>
        </div>
        <div class="logo">
          <h5>Photography</h5>
        </div>
      </div>
      <div class="banner-buttons">
        <%= link_to "come in", categories_path, class: "btn button-home" %>
        <%= link_to "about me", about_path, class: "btn button-home" %>
    </div>
  </div>
</div>


