<div class="container-landing" >
  <div class="banner">
  
    
      <div class="logo">
        <h6>Gabriel Campista</h6>
        <h6>Photography</h6>
      </div>
      <div class="btn-in"> 
        <%= button_to "come in", categories_path(@categories), :class => "button", :method => :get %>
       <br>
        <%= button_to 'about me', page_path('about'), :class => "button", :method => :get  %>
        
     
    
    </div>
  </div>
</div>

