.button-home {
  color: #FFF4BD;
  background: none;
  font-family: Ubuntu;
  border-radius: 12px;
  border: 2px solid #FFF4BD;
  padding: 10px 30px;
  width: 205px;
}

.button-home:hover {
  color:  #FAD02C;
  background: none;
  font-family: Ubuntu;
  border-radius: 12px;
  border: 2px solid #FAD02C;
  padding: 10px 30px;
  width: 205px;
  box-shadow:  0 0 40px rgba(250,208,44, 0.1);
}