
.exp-card-head {
background-repeat: no-repeat;
background-size: 100% auto;
padding: 10px;
border-radius: 15px;
filter: brightness(80%);
font-family: Ubuntu, sans-serif;
color:  #FFF4BD;
font-size: 21px;
}

.categories-card:hover{
text-decoration: none;
}

.exp-card-head:hover {

filter: none;
}

.category-header {
color:  #FFF4BD;
}

.exp-container {
margin: 10px 10px;
display: flex;
flex-direction: column;
margin: 10px;
height: 500px;
border-radius: 10px;
align-content: space-between;
position: relative;
}

.card-style-category  {
border-radius: 16px;
box-shadow: 0 0 40px rgba(250,208,44, 0.1);
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}

.card-style-category:hover {
border-radius: 16px;
box-shadow: none;
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

.card-style-category h4{
// position: absolute;
// left: 5%;
// right: 5%;
//top: 20px;
z-index: 10;
// padding-top: 20px;
// padding-bottom: 20px;
color: #FFF4BD;
text-align: center;
border-radius: 16px;
font-weight: 700;
font-family: Ubuntu,sans-serif;
padding: 10px;
// font-weight: 400;
// text-shadow: 0 1px 3px rgba(0,0,0,0.6);
// -moz-transition: all 0.3s;
// -webkit-transition: all 0.3s;
// transition: all 0.3s;
}

// .card-style-category h4:hover {
//   border-radius: 16px;
//   box-shadow: none;
//   -moz-transform: scale(1.1);
// 	-webkit-transform: scale(1.1);
// 	transform: scale(1.1);
// }

.card-style-category img {
border-radius: 16px;
}

.test-center {
margin: 0 auto;
}

.test-center h1 {
text-align: center;
color: #FFF4BD;
}

.list-group-item {
max-width: 1000px;
}

.sign-form {
color:#FFF4BD;
font-family: Ubuntu, sans-serif;
}

.sign-form h2 {
color:#FFF4BD;
font-family: Ubuntu, sans-serif;
}

.opt-edit-delete {
display: flex;
}

.image-slider {
max-width: 100%;
max-height: 600px;
}

.carousel-item.active {
display: flex;
justify-content: center;
}

.carousel-item {
transition-duration: 1s;
}

.crud-links {
margin-top: 100px;
}

.h-100 {
height: 100%;
}

// forms template

.add-post{
color: #FFF4BD;
font-family: Ubuntu, sans-serif;
}

.card-photo {
width: 500px;
height: 400px;
max-width: 80vw;
max-height: 64vw;
}
