
.content-footer {
background-color: #1B1817;

border-top: 1px solid rgba(226, 222, 222, 0.1) ;
}

.footer-row li {
color: #FFF4BD;
font-size: 15px;
text-shadow:1px 1px 4px rgba(250, 208, 44, 0.4);
}

.footer-row a {
color: #FFF4BD;
font-size: 15px;
text-shadow:1px 1px 4px rgba(250, 208, 44, 0.4);
}

.footer-row a:hover {
color: #FAD02C;
}

.bot-container  {
background-color:#1B1817;
}

.content-copy {
color: #4b4543;
font-size: 12px;    
margin-bottom: 15px
}

