.navbar-lewagon {
  justify-content: space-between;
  background: #1B1817;
  border-bottom: 1px solid rgba(226, 222, 222, 0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-font-banner1 {
  color: #FFF4BD;

}
.logo-font-banner3 {
  color: #FFF4BD;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFF4BD;
}

.navbar-light .navbar-nav .nav-link:hover {

  color: #FAD02C;

}

.about-content {
  
text-align: center;
background-size: cover;

background-image: url('https://res.cloudinary.com/chocalho/image/upload/v1608406208/boutnewnew_uevjye.png');

padding: 410px 0;
max-width: 100vw;
max-height: 100vh;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 8px;
box-shadow: 1px 1px 3px gray;

}

.page-container {
//  background-image: url('https://res.cloudinary.com/chocalho/image/upload/e_art:incognito/v1608401990/photo-1527606078995-42486f991014_hwmnhn.jpg');
 background-size: cover;
 max-width: 100vw;

background-color: #1B1817;


}


.dropdown-burger {
  color: #FFF4BD;
  font-size: 28px;
  transition: 0.2s ease-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
 
}

.dropdown-burger:hover {
  font-size: 28px;
  text-shadow: 2px 2px 2px rgb(51, 50, 50);
  transform: translateY(-1px);
  cursor: pointer;
}

.nav-drop a {
  font-size: 14px;
  letter-spacing: 1px;
  list-style: none;
  padding: 10px 20px;
  color: #FFF;
  font-weight: 200;
}

.dropdown-item {
  color: #FFF4BD;
}

.dropdown-item a:hover {
  background-color: salmon;
}

.dropdown-menu {
  background-color: rgba(50, 50, 50, 0.6);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  border-radius: 4px;
}

.dropdown-menu:hover {
  background-color: rgba(50, 50, 50, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}


