.navbar-lewagon {
  justify-content: space-between;
  background: #1B1817;
  border-bottom: 1px solid rgba(226, 222, 222, 0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-font-banner1 {
  color: #FFF4BD;

}
.logo-font-banner3 {
  color: #FFF4BD;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFF4BD;
}

.navbar-light .navbar-nav .nav-link:hover {

  color: #FAD02C;

}

.about-content {
  
  margin: 10px;

  height: 1300px;
  background-size: cover;
max-height: 150vh;
background-image: url('https://res.cloudinary.com/chocalho/image/upload/v1608391649/bout_mdv1nb.jpg');
text-shadow: 1px 1px 1px lightgrey;
}