 <%= link_to 'Add category', new_category_path %>
<div class="container"> 
  <div class="index-container">
  <h1>Gabriel Campista Portfolio</h1>

    <div class="col-sm-12 col-md-6 col-lg-4">
 

    <% @categories.each do |category| %>
    <div class="exp-container"> 
      <ul class="list-group">
        <li class="list-group-item"><%= category.title %></li>
        <% if category.photo.attached? %>
        <%= cl_image_tag category.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
  <% end %>

      
    <h5><%= link_to category.title, category_path(category) %></h5>
    
      
    </div>
    <% end %>

    </div>
  </div>
</div>
 