 <%= link_to 'Add category', new_category_path %>
<div class="container"> 
  <div class="index-container">
  <h1>Gabriel Campista Portfolio</h1>

    <div class="col-sm-12 col-md-6 col-lg-4">
 

    <% @categories.each do |category| %>
    <div class="exp-container"> 
 
 <div class="pics-cont"> 
          <%= category.title %>
          <% if category.photo.attached? %>

        <%= link_to category_path(category) do %>
          
          <%= cl_image_tag category.photo.key, height: 300, width: 400, crop: :fill %>
           <% end %>

      <% else %>
    <% end %>
  </div>

      
  
    
      
    </div>
    <% end %>

    </div>
  </div>
</div>
 